In [1]:
from selenium import webdriver
import pandas as pd

In [2]:
driver = webdriver.Chrome()

In [3]:
link = "https://plants.usda.gov/about_adv_search.html"

In [4]:
driver.get(link)

In [5]:
rows = len(driver.find_elements_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[4]/td[2]/table/tbody/tr"))
cols = len(driver.find_elements_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[4]/td[2]/table/tbody/tr[2]/td"))

In [6]:
print(rows, cols)

12 2

In [7]:
main_list = []
for r in range(2, rows+1):
    row_list = []
    for c in range(1, cols+1):
        value = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[4]/td[2]/table/tbody/tr["+str(r)+"]/td["+str(c)+"]").text
        row_list.append(value)
    main_list.append(row_list)

In [10]:
headers = []
for c in range(1, cols+1):
    value = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[4]/td[2]/table/tbody/tr[1]/th["+str(c)+"]").text
    headers.append(value)

In [12]:
PFA_sub_area_code = pd.DataFrame(main_list, columns = headers)

In [14]:
PFA_sub_area_code.head()

  PFA Sub-Area Code          Description
0                AK               Alaska
1               CAN               Canada
2                GL  Greenland (Denmark)
3                HI               Hawaii
4               L48      Lower 48 States

In [15]:
PFA_sub_area_code.to_csv('PFA_sub_area_code.csv', index = False)

Extracting Postal Codes with respect to Countries

In [ ]:
/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[5]/td[2]/table/tbody/tr[54]

In [16]:
rows = len(driver.find_elements_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[5]/td[2]/table/tbody/tr"))
cols = len(driver.find_elements_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[5]/td[2]/table/tbody/tr[2]/td"))

In [17]:
print(rows, cols)

77 2

In [20]:
main_list = []
for r in range(2, rows+1):
    row_list = []
    for c in range(1, cols+1):
        try:
            value = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[5]/td[2]/table/tbody/tr["+str(r)+"]/td["+str(c)+"]").text
            row_list.append(value)
        except:
            value = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[5]/td[2]/table/tbody/tr["+str(r)+"]/th["+str(c)+"]").text
            main_list.append(['', ''])
            row_list.append(value)
            pass
    main_list.append(row_list)

In [21]:
main_list

[['USA', 'U.S. States'],
 ['AL', 'Alabama'],
 ['AK', 'Alaska'],
 ['AZ', 'Arizona'],
 ['AR', 'Arkansas'],
 ['CA', 'California'],
 ['CO', 'Colorado'],
 ['CT', 'Connecticut'],
 ['DE', 'Delaware'],
 ['DC', 'District of Columbia'],
 ['FL', 'Florida'],
 ['GA', 'Georgia'],
 ['HI', 'Hawaii'],
 ['ID', 'Idaho'],
 ['IL', 'Illinois'],
 ['IN', 'Indiana'],
 ['IA', 'Iowa'],
 ['KS', 'Kansas'],
 ['KY', 'Kentucky'],
 ['LA', 'Louisiana'],
 ['ME', 'Maine'],
 ['MD', 'Maryland'],
 ['MA', 'Massachusetts'],
 ['MI', 'Michigan'],
 ['MN', 'Minnesota'],
 ['MS', 'Mississippi'],
 ['MO', 'Missouri'],
 ['MT', 'Montana'],
 ['NE', 'Nebraska'],
 ['NV', 'Nevada'],
 ['NH', 'New Hampshire'],
 ['NJ', 'New Jersey'],
 ['NM', 'New Mexico'],
 ['NY', 'New York'],
 ['NC', 'North Carolina'],
 ['ND', 'North Dakota'],
 ['OH', 'Ohio'],
 ['OK', 'Oklahoma'],
 ['OR', 'Oregon'],
 ['PA', 'Pennsylvania'],
 ['RI', 'Rhode Island'],
 ['SC', 'South Carolina'],
 ['SD', 'South Dakota'],
 ['TN', 'Tennessee'],
 ['TX', 'Texas'],
 ['UT', 'Utah'],
 ['VT', 'Vermont'],
 ['VA', 'Virginia'],
 ['WA', 'Washington'],
 ['WV', 'West Virginia'],
 ['WI', 'Wisconsin'],
 ['WY', 'Wyoming'],
 ['', ''],
 ['', ''],
 ['USA+', 'U.S. Territories and Protectorates'],
 ['NAV',
  'Navassa Island (the sole Caribbean member of the U.S. Minor Outlying Islands)'],
 ['PR', 'Puerto Rico'],
 ['VI', 'Virgin Islands'],
 ['', ''],
 ['', ''],
 ['CAN', 'Canada Provinces and Territories'],
 ['AB', 'Alberta'],
 ['BC', 'British Columbia'],
 ['MB', 'Manitoba'],
 ['NB', 'New Brunswick'],
 [' ', 'Newfoundland and Labrador'],
 ['LB', '    Labrador'],
 ['NF', '    Newfoundland'],
 ['NT', 'Northwest Territories'],
 ['NS', 'Nova Scotia'],
 ['NU', 'Nunavut'],
 ['ON', 'Ontario'],
 ['PE', 'Prince Edward Island'],
 ['QC', 'Qu√©bec'],
 ['SK', 'Saskatchewan'],
 ['YT', 'Yukon'],
 ['', ''],
 ['', ''],
 ['DEN', 'Denmark'],
 ['GL', 'Greenland'],
 ['', ''],
 ['', ''],
 ['FRA', 'France'],
 ['SPM', 'St. Pierre and Miquelon']]

In [22]:
headers = []
for c in range(1, cols+1):
    value = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[5]/td[2]/table/tbody/tr[1]/th["+str(c)+"]").text
    headers.append(value)

In [23]:
headers

['Postal Code', 'Country']

In [24]:
Postal_codes = pd.DataFrame(main_list, columns = headers)
Postal_codes.head()

  Postal Code      Country
0         USA  U.S. States
1          AL      Alabama
2          AK       Alaska
3          AZ      Arizona
4          AR     Arkansas

In [25]:
Postal_codes.to_csv('Postal_codes.csv', index = False)

Scrapping the codes used for Native Jurisdiction

In [ ]:
/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[1]/tbody/tr[1]

In [27]:
rows = len(driver.find_elements_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[1]/tbody/tr"))
cols = len(driver.find_elements_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[1]/tbody/tr[1]/th"))

In [28]:
print(rows, cols)

12 2

In [34]:
main_list = []
for r in range(2, rows+1):

    value1 = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[1]/tbody/tr["+str(r)+"]/td").text

    value2 = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[1]/tbody/tr["+str(r)+"]/th").text
    
    main_list.append([value2, value1])

In [35]:
main_list

[['AK', 'Alaska'],
 ['CAN', 'Canada'],
 ['GL', 'Greenland (Denmark)'],
 ['HI', 'Hawaii'],
 ['L48', 'Lower 48 States'],
 ['NA',
  'North America (only non-vascular plants and lichens have Native Status given at this level'],
 ['NAV',
  'Navassa Island (the sole Caribbean member of the U.S. Minor Outlying Islands)'],
 ['PB', 'Pacific Basin excluding Hawaii'],
 ['PR', 'Puerto Rico'],
 ['SPM', 'St. Pierre and Miquelon (France)'],
 ['VI', 'U.S. Virgin Islands']]

In [37]:
headers = []
for c in range(1, cols+1):
    
    value = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[1]/tbody/tr[1]/th["+str(c)+"]").text
    headers.append(value)
headers

['Code  ', 'Native Status Jurisdiction']

In [38]:
Native_Jurisdiction = pd.DataFrame(main_list, columns = headers)
Native_Jurisdiction.to_csv('Native_Jurisdiction.csv', index = False)

Native Status Code Scrapping

In [ ]:
/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[2]/tbody/tr[3]

In [40]:
rows = len(driver.find_elements_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[2]/tbody/tr"))
cols = len(driver.find_elements_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[2]/tbody/tr[1]/th"))

In [41]:
print(rows, cols)

11 2

In [44]:
main_list = []
for r in range(3, rows+1):
    
    try:
        value1 = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[2]/tbody/tr["+str(r)+"]/td").text
        value2 = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[2]/tbody/tr["+str(r)+"]/th").text
    
        main_list.append([value2, value1])
    except:
        pass

In [45]:
main_list

[['N', 'Native'],
 ['N?', 'Probably Native'],
 ['GP',
  'Garden persistent - persists around gardens and old habitations, not naturalized'],
 ['GP?',
  'Probably Garden persistent - persists around gardens and old habitations, not naturalized'],
 ['I', 'Introduced'],
 ['I?', 'Probably Introduced'],
 ['W', 'Waif - an ephemeral introduction, not persistently naturalized'],
 ['W?',
  'Probably a Waif - an ephemeral introduction, not persistently naturalized']]

In [46]:
headers = []
for c in range(1, cols+1):
    
    value = driver.find_element_by_xpath("/html/body/table/tbody/tr[5]/td/table/tbody/tr/td[4]/table/tbody/tr[3]/td[1]/table/tbody/tr[31]/td[2]/table[2]/tbody/tr[1]/th["+str(c)+"]").text
    headers.append(value)
headers

['Code  ', 'Native Status']

In [47]:
Native_codes = pd.DataFrame(main_list, columns = headers)
Native_codes.to_csv('Native_Codes.csv', index = False)